<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibi.ibi_game">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Clients_Login"></activity>
        <activity android:name=".LevelTwo" />
        <activity android:name=".EndOfLevelOne" />
        <activity android:name=".Mainpage" />
        <activity
            android:name=".TrueOrFalse"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Times_up"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartVideos"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayAgain"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameWon"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Main3Activity"
            android:screenOrientation="landscape" />
    </application>

</manifest>